# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\6_WORKSPACE\leetcode\cl_leet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/out/
